<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Métodos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/iconon.png') }}" type="image/png">
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='images/iconon.png') }}" alt="Ícono de MethodSolve" width="50"
                    height="50" class="d-inline-block align-text-top">
                MethodSolver
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index_page') }}">
                            <i class="bi bi-house-door-fill"></i> Inicio
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('metodos_page') }}">
                            <i class="bi bi-book-fill"></i> Métodos
                        </a>
                    </li>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('guia_page') }}">
                   <i class="bi bi-patch-question-fill"></i> Guía
                   </a>
                </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Hero Section -->
    <section class="hero-section">
        <div class="container">
            <h1 class="display-4">Métodos</h1>
            <p class="lead">24 métodos para resolver problemas numéricos</p>
        </div>
    </section>

    <!-- Métodos Section -->
    <section class="methods-section py-5">
        <div class="container">
            <!-- Grupo 1: Resolver Sistemas mediante Gráficos -->
            <div class="mb-5">
                <h2 class="mb-4"><i class="bi bi-graph-up"></i> Resolver sistemas mediante gráficos</h2>
                <div class="row">
                    <div class="col-md-4 mb-4">
                        <a href="{{ url_for('graphing') }}" class="btn btn-outline-primary btn-lg w-100">Graficador de funciones</a>
                    </div>
                </div>
            </div>

<!-- Grupo 2: Resolver Ecuaciones de Una Variable -->
<div class="container">
    <h2 class="mb-4"><i class="bi bi-calculator-fill"></i> Resolver ecuaciones de una variable</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            <a href="{{ url_for('calculate_bisection') }}" class="btn btn-outline-primary btn-lg w-100">Bisección</a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="{{ url_for('false_rule_page') }}" class="btn btn-outline-primary btn-lg w-100">Regla Falsa</a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="{{ url_for('fixed_point_page') }}" class="btn btn-outline-primary btn-lg w-100">Punto Fijo</a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="{{ url_for('secant_page') }}" class="btn btn-outline-primary btn-lg w-100">Secante</a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="{{ url_for('newton_raphson_page') }}" class="btn btn-outline-primary btn-lg w-100">Newton-Raphson</a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="{{ url_for('first_modified_newton_page') }}" class="btn btn-outline-primary btn-lg w-100">Primer Método Modificado de Newton</a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="{{ url_for('second_modified_newton_page') }}" class="btn btn-outline-primary btn-lg w-100">Segundo Método Modificado de Newton</a>
        </div>
    </div>
</div>

<!-- Grupo 3: Resolver Ecuaciones de Varias Variables -->
  <div class="mb-5">
    <h2 class="mb-4"><i class="bi bi-bar-chart-fill"></i> Solución de sistemas de ecuaciones</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            <a href="{{ url_for('gauss_elimination_page') }}" class="btn btn-outline-primary btn-lg w-100">Eliminación Gaussiana</a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="{{ url_for('factorization_lu_page') }}" class="btn btn-outline-primary btn-lg w-100">Factorización LU</a>
        </div>
        <div class="col-md-4 mb-4">
            <a href="{{ url_for('jacobi_page') }}" class="btn btn-outline-primary btn-lg w-100">Método Jacobi</a>
        </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            &copy;2024 MethodSolver Team. Todos los derechos reservados.
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>